
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <script src="/public/js/jquery-3.5.0.min.js"></script>
    <script src="/static/js/cardGameMove.js"></script>
    <link rel="stylesheet" href="static/css/cardgame-style.css"/>
  </head>
   <body>
    <div class="intro">
    <p class="intro-text"> Click Any Card To Start &#8594;</p>
    <button id="refresh-button">Restart</button>
    </div>

    </br>
    <div class="wrapper">
      <ul class="cards">
        <li class="card">
          <div class="view front">
           
          </div>
          <div class="view back">
            <img src="/static/css/images/game/animal-1.png">
          </div>
        </li>
        <li class="card">
          <div class="view front">
           
          </div>
          <div class="view back">
            <img src="/static/css/images/game/animal-2.png">
          </div>
        </li>
        <li class="card">
          <div class="view front">
           
          </div>
          <div class="view back">
            <img src="/static/css/images/game/animal-3.png">
          </div>
        </li>
        <li class="card">
          <div class="view front">
           
          </div>
          <div class="view back">
            <img src="/static/css/images/game/animal-4.png">
          </div>
        </li>
        <li class="card">
          <div class="view front">
           
          </div>
          <div class="view back">
            <img src="/static/css/images/game/animal-1.png" >
          </div>
        </li>
        <li class="card">
          <div class="view front">
           
          </div>
          <div class="view back">
            <img src="/static/css/images/game/animal-5.png">
          </div>
        </li>
        <li class="card">
          <div class="view front">
           
          </div>
          <div class="view back">
            <img src="/static/css/images/game/animal-4.png">
          </div>
        </li>
        <li class="card">
          <div class="view front">
           
          </div>
          <div class="view back">
            <img src="/static/css/images/game/animal-2.png">
          </div>
        </li>
        <li class="card">
          <div class="view front">
           
          </div>
          <div class="view back">
            <img src="/static/css/images/game/animal-3.png">
          </div>
        </li>
        <li class="card">
          <div class="view front">
           
          </div>
          <div class="view back">
            <img src="/static/css/images/game/animal-6.png">
          </div>
        </li>
        <li class="card">
          <div class="view front">
           
          </div>
          <div class="view back">
            <img src="/static/css/images/game/animal-5.png">
          </div>
        </li>
        <li class="card">
          <div class="view front">
           
          </div>
          <div class="view back">
            <img src="/static/css/images/game/animal-6.png">
          </div>
        </li>

      </ul>
    </div>
    <script src="cGameMove.js"></script>
  </body>
</html>