<!--This is the HTML partial for the Question Cards that is called in the Question and Answers page-->


<head>
    <link rel="stylesheet" href="static/css/cardquest-style.css"/>
     <script src="/public/js/jquery-3.5.0.min.js"></script>
      <script src="/public/js/cQuestMove.js"></script>
</head>
<body>
    <div class="container">
        <dl>
            <div class="box">
                <dt class="question">What is happening to the person?</dt>
                <dd class="answer">
                    Dementia is a condition or illness that affects the way the person’s
                    brain is working. The brain controls everything that we do and so
                    dementia can cause changes in the way the person thinks, their
                    memory, the way they see things and the way they talk.
                </dd>
            </div>

            <div class="box">
                <dt class="question">Will they get better?</dt>
                <dd class="answer">
                Dementia is a condition that gets worse over time and there is currently no cure or way of stopping this
                from happening. Although the person won’t get better, there are lots of things you can do to help them
                feel happy and secure.
                </dd>
            </div>

            <div class="box">
                <dt class="question">Will I get it too?</dt>
                <dd class="answer">
                Dementia is not like other illnesses such as chicken
                pox or a cold – you cannot catch it from someone.
                Just because a family member or close friend has
                dementia it does not mean that you will get it too.  
                </dd>
            </div>

            <div class="box">
                <dt class="question">Will the person forget me?</dt>
                <dd class="answer">
                Sometimes people with dementia have difficulty recalling names. 
                As we get older, our faces change, so they may struggle to recognise you because they
                picture you as being younger. However, the way the person feels about you will stay with them for much
                longer, and often a voice is easier to recognise. So if you are worried the person does not know who you
                are, you could try talking to them about memories you have shared and how you both felt at the time. 
                </dd>
            </div>

            <div class="box">
                <dt class="question">Do people with dementia get angry?</dt>
                <dd class="answer">
                Living with dementia can mean that the person has to concentrate a lot harder to do things that come
                easily to others. This can make them feel very tired or frustrated, a bit like how you may feel if you are
                struggling with school work you don’t understand. Feeling tired and frustrated may make the person more
                short-tempered and angry.
                <br/>
                <br/>
                Sometimes the person may feel anxious or afraid, as they are struggling to understand what is happening around them.
                </dd>
            </div>
        </dl>
    </div>
</body>