
<head>
    <link rel="stylesheet" href="static/css/cardquest-style.css"/>
     <script src="/public/js/jquery-3.5.0.min.js"></script>
      <script src="/public/js/cqMove.js"></script>
</head>
<body>
    <div class="container">
        <dl>
            <div class="box">
                <dt class="question">Will I get Dementia too?</dt>
                <dd class="answer">It's possible, but the chances are very small. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione atque itaque in id dolore, provident libero porro dolores neque fugiat laudantium dolorem pariatur vel consequuntur, maxime voluptates quos cupiditate quas?</dd>
            </div>

            <div class="box">
                <dt class="question">question</dt>
                <dd class="answer">Enables content to be shown or hidden</dd>
            </div>

            <div class="box">
                <dt class="question">question</dt>
                <dd class="answer">Defines subscript and superscript text</dd>
            </div>

            <div class="box">
                <dt class="question">question</dt>
                <dd class="answer">Pairs a term with a corresponding description</dd>
            </div>

            <div class="box">
                <dt class="question">question</dt>
                <dd class="answer">Pairs a term with a corresponding description</dd>
            </div>
        </dl>
    </div>
</body>