
<head>
      <script src="/public/js/jquery-3.5.0.min.js"></script>
    <script src="/public/js/sliderMove.js"></script>
</head>
<body>
<h1>Human Memory Education</h1>

<div class="container">

  <div class="card-carousel">

    <div class="card" id="1">
      <img id="image1" src="/static/css/images/question1.jpg">
      <h3>Question & Answers</h3>
      <p>Many questions can pop up when a grandparent or someone you love has dementia. Clcik below to see some frequently asked questions by children about dementia.</p>

        <form action="/q&a">
              <button type="submit">Learn More</button>
        </form>
    </div>

    <div class="card" id="2">
     <img id="image1" src="/static/css/images/technique.jpg">
      <h3>Memory Techniques</h3>
      <p>Although Dementia is uncurable, there are many things people with dementia can practise in order to help their memories.
        Click below to learn more about memory techniques that can be used by dementia patients.
      </p>
       <form action="/memory-techniques">
              <button type="submit">Learn More</button>
            </form>
    </div>

    <div class="card" id="3">
       <h3>Welcome to my Final Year Project</h3>
      <img id="image1" src="/static/css/images/welcome.jpg">
          <p>The aim of my final year project was to create a website that would aid children in learning more about dementia.
            I attempted to do so by adding features to make the learning experience more interactive and appealing for children to use
          </p>
          
    </div>  

    <div class="card" id="4">
         <img id="image1" src="/static/css/images/alzheimers1.jpg">
      <h3>What is Dementia?</h3>
      <p>Click below to learn more about Dementia</p>
            <form action="/what-is-dementia">
              <button type="submit">Learn More</button>
            </form>
    </div>

    <div class="card" id="5">
         <img id="image1" src="/static/css/images/brain1.jpg">
      <h3>The Brain</h3>
      <p>The brain is an imporant part of the humna body. It is the origin of where dementia begins.
        Click Below to learn why the brain is important.
      </p>

      <form action="/the-brain">
              <button type="submit">Learn More</button>
      </form>
    </div>
  
  <a href="#" class="visuallyhidden card-controller">Carousel controller</a>
</div>  
  <p id="smallText">Drag Cards to Move</p>
</body>