<!--This is the HTML page for the Questions and Answers page-->

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/q&a-style.css"/>
    <title>Questions</title>
  </head>
  <body>
    {{>navbar data = details}}
    <h1 id="title">Questions?</h1>
    <br>
        <div class="intro">Click on the question to reveal the answer!</div>

    <div class="container">

      {{>cardQuest}}
       <script src="/static/js/cQuestMove.js"></script>
       
    </div>
   
  </body>
</html>