<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/dementia-style.css"/>
    <title>What is Dementia?</title>
  </head>
  <body>

   
    {{>navbar data = details}}

   <div class="container1">
   <p id="title">What is Dementia?</p>
    <img id="gdadimage" src="/static/css/images/grandadimage3.jpg" alt="grandad-image">
    </div>
    
   <div class="container2">
      <br>
        <div class="box">
          <img src="/static/css/images/num1.png">
          <div id="box1" class="overlay">
            <div class="text">Dementia is a condition that affects the brain and makes it hard for people to remember things think clearly, or do things they used to be able to do easily. </div>
          </div>
        </div>
      <br>
      <div class="box">
        <img src="/static/css/images/num2.png">
          <div id="box1" class="overlay">
            <div class="text"> It can cause changes in behavior and personality, and it can make everyday activities difficult.</div>
          </div>
        </div>
      <br>
      <div class="box">
          <img src="/static/css/images/num3.png">
            <div id="box1" class="overlay">
              <div class="text">It's a progressive condition, meaning it gets worse over time, and there's currently no cure.</div>
          </div>
        </div>
      <br>
      <div class="box">
          <img src="/static/css/images/num4.png">
            <div id="box1" class="overlay">
              <div class="text">While there's no cure for dementia, there are ways to manage the symptoms and improve a person's quality of life.</div>
          </div>
        </div>
    </div>

    
   
  
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

   
  </body>
</html>