/*Stylesheet for the Brain Page*/

body{
    background: rgb(34,32,35);
    background: linear-gradient(90deg, rgba(34,32,35,1) 30%, rgba(32,60,84,1) 57%, rgba(65,136,193,1) 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
}

.container1{
    margin-top:1em;
    padding: 50px;
    height: 70%;
    width:80%;
    margin: auto;
    background-color: white;
    opacity: 0.85;
    overflow: hidden;
    display: flex;
    border-radius: .75em;
}

.container2{
  margin: auto;
  margin-top:1em;
  padding: 50px;
  height: 70%;
  background-color: white;
  opacity: 0.85;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .75em;
  width:80%;
}


.subtitleA{
  float: left;
  margin-top: -0.3em;
  margin-right: 0.25em;
}

.subtitle-textA{
  font-size: 23px;
    font-weight: 550;
}

.textA{
  clear: both;
  font-weight: 420;
    font-size: 20px;
}


#title{
    font-size: 290%;
    font-weight: 500;
    color: white;
    margin-top: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }


  area {
    outline: 5px solid var(--red);
  }

  map{
    position: absolute;
  }

  #diagram{
    width: fit-content;
  }

  .popup-title{
    font-weight: 500;
    font-size: 20px;
  }


  .popup {
    padding: 20px;
    color: rgb(255, 255, 255);
    font-weight: 490;
    font-size: 15px;
    position: absolute;
    opacity: 0;
    transform: scale(0);
    transition: opacity 300ms, transform 300ms; 
  }

  .popup > .close {
    position: absolute;
    right: -10px;
    top: -10px;
    background-color: rgb(0, 0, 0);
    padding: 4px 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;

  }

  .popup:target {
    opacity: 1;
    transform: scale(1);
  }

  #frontal-lobe{
    margin-left: -30%;
    margin-top: -20%;
    background-color: rgba(9, 63, 179, 0.989);
    border-radius: 10px;
  }

  #parietal-lobe{
    margin-left: 30%;
    margin-top: -20%;
    background-color: rgb(230, 189, 29);
    border-radius: 10px;
  }

  #temporal-lobe{
    margin-top: 10%;
    background-color: rgb(61, 186, 67);
    border-radius: 10px;
  }
  
  #occipital-lobe{
    margin-left: 50%;
    background-color: rgb(212, 35, 35);
    border-radius: 10px;
  }

  #cerebellum{
    margin-top: 25%;
    margin-left: 30%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
  }

  ul{
    list-style-position: inside;
    padding: 0;
  }

  h3{

    margin-top: 2em;
  }